* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: Arial, sans-serif;
}

/* Container */
.data {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

/* Header */
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 5px 15px;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
  background-color: #dc3b3b;
  transform: scale(1.05);
}

/* Main Content */
.image {
  margin: 20px 0;
}

img {
  border-radius: 50%;
  box-shadow: 10px 5px 10px rgba(15, 14, 14, 0.905);
  border: 3px solid #e80a0a;
  transition: transform 0.3s ease, filter 0.3s ease, border 0.3s ease;
  filter: brightness(1.2);
}

img:hover {
  transform: scale(1.1);
  filter: brightness(1.4);
  border: 3px solid #dc3b3b;
}

/* Heading */
#heading {
  width: 100%;
  text-align: center;
}

#heading h2 {
  font-size: 2rem;
  transition: transform 0.5s ease;
}

#heading h2:hover {
  transform: scale(1.05);
}

#heading li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  border-radius: 50%;
}

#heading li a {
  text-decoration: none;
  color: red;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

#heading li:hover {
  background-color: blanchedalmond;
}

/* Description */
#description {
  text-align: center;
  margin-top: 20px;
}

#description p#note {
  transition: transform 1.3s ease, box-shadow 0.3s ease;
}

#description p#note:hover {
  box-shadow: 15px 20px 15px black;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .data {
      margin: 10px;
  }

  .navbar li {
      margin: 0 20px;
  }

  #heading {
      margin: 20px 0;
  }
}
