@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  text-align: center;
  background-color: var(--background-color);
  padding: 0.1rem;
}
.head-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.Link {
  color: var(--text-color);
  /* padding: 0.2rem; */
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.LogoImage {
  height: 5.875rem;
  width: 1.938rem;
}
.navigation {
  display: none;
  gap: 1.5rem;
  /* color: var(--text-color); */
}
.navigation a {
  color: var(--text-color);
  font-weight: 600;
  transform: color 0.1s;
}
.navigation a:hover {
  color: var(--link-color);
}
.Contactus {
  display: none;
  background-color: var(--primary-color);
  font-weight: 600;
  color: var(--light-gray);
  border-radius: 0.375rem;
  padding: 0.5rem 1.5rem;
  transform: background-color 0.1s;
}
.Contactus:hover {
  background-color: var(--link-color);
}
.Button {
  display: none;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--background-color);
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
  font-weight: 600;
}
.menu {
  height: 1.5rem;
  width: 1.5rem;
}

/* Hero Section */
.allSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.hero-Section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 2rem;
  /* border: solid red; */
  gap: 2rem;
}
.first-hero {
  /* border: solid blue; */
  padding: 1rem;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
.second-hero {
  width: 80%;
  border-radius: 25px;
}
.button-hero {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* border: solid red; */
  width: 100%;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
}
.button-hero button {
  padding: 0.5rem 1rem;
  border-style: none;
  background-color: var(--link-color);
  transform: background-color 0.1s;
}
.button-hero button:hover {
  background-color: var(--primary-color);
}
.button-hero a {
  color: white;

  font-weight: 600;
}
.first-hero h1 {
  font-size: 2.5rem;
}
.first-hero h6 {
  color: var(--link-color);
}
.first-hero p {
  font-size: 0.8rem;
  color: var(--dark-gray);
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
  .Contactus {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .Button {
    display: block;
  }
  .hero-Section {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
  .hero-Section {
    max-width: 100%;
    margin: 0;
  }
  .second-hero {
    width: 80%;
    /* margin: 0 auto; */
  }
  .hero-Section {
    /* width:fit-content; */
    display: flex;
    flex-wrap: wrap;
    padding: 0.525rem;
  }
  .first-hero {
    width: 100%;
  }
}
