@import url("https://fonts.googleapis.com/css2?family=Abel&family=Agbalumo&family=Bubblegum+Sans&family=Cedarville+Cursive&family=Josefin+Sans:wght@300;400&family=Jost:wght@500&family=Lora:wght@500&family=Martel+Sans:wght@600&family=Mulish&family=Nunito:ital,wght@0,400;0,500;1,300&family=Open+Sans:ital@1&family=Pacifico&family=Playfair+Display:wght@500&family=Poppins:wght@300&family=Raleway&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&family=Rubik&family=Seaweed+Script&family=Signika+Negative&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}
body {
  font-family: josefin Sans, sans-serif;
  width: 100vw;
  height: 100vh;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  /* border: solid red; */
  z-index: 1000;
}
.box1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.63)),
    url("/Web-Development/Projects/Images/pexels-juan-salamanca-61129.jpg");
  /* background-position: center; */
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}
.navigation {
  /* border: solid red; */
  background-color: rgba(255, 255, 255, 0.877);
  padding: 1.5rem;
  box-shadow: 0px 2px 15px;
}
.navbar {
  /* border: solid black; */
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 300px;
}
@media (max-width: 658px) {
  .navigation {
    display: none;
  }
}
.navbar a {
  font-size: 1.2rem;
  color: black;
  transition: color 0.2s;
}
.navbar a:hover {
  color: blue;
}
.lists {
  /* border: solid green; */
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */

  gap: 2rem;
  padding: 1rem;
}
.componenet {
  /* border: solid blue; */
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2rem;
  padding: 1rem;
  justify-content: space-evenly;
}
/* Main */
.head {
  /* border: solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  /* margin-top: 10rem; */
  padding: 2rem;
  height: 80vh;
}
.heading {
  /* border: solid blue; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.content {
  /* border: solid green; */
  padding: 1rem;
  color: white;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content span {
  font-size: 3.5rem;
  font-weight: bold;
}
@media (max-width: 330px) {
  .content span {
    font-size: 2rem;
  }
}
.content .points {
  font-size: 2rem;
  font-weight: 200;
}
.content button {
  background-color: rgb(12, 12, 71);
  padding: 0.8rem 2.5rem;
  border-radius: 20px;
  border: transparent;
}
.content a {
  color: white;
  font-weight: 500;
}
/* box 2 */
.box2 {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 500px));
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border: solid red;
}
.box {
  width: 100%;
  border: solid black;
}
.boxes {
  display: grid;
  border: solid blue;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(100px,300px));
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  min-height: 100%;
  width: 100%;
}
.cards {
  border: solid grey 0.1rem;
  border-radius: 25px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width:100%;
}
.boxes .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
  min-height: 100%;
  border-radius: 40px;
  border: solid green;
}
.card img {
  width:100%;
  border-radius:20px;
}
