@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bubblegum+Sans&family=Cedarville+Cursive&family=Josefin+Sans:wght@300;400&family=Jost:wght@500&family=Lora:wght@500&family=Martel+Sans:wght@600&family=Mulish&family=Pacifico&family=Playfair+Display:wght@500&family=Poppins:wght@300&family=Raleway&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&family=Rubik&family=Seaweed+Script&family=Signika+Negative&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: rgba(9, 52, 58, 0.664);
  box-sizing: border-box;
  color: white;
}
body {
  width: 100vw;
  height: 100vh;
  /* background-color: transparent; */
  font-family: "Abel", sans-serif;
  font-family: "Bubblegum Sans", sans-serif;
  font-family: "Cedarville Cursive", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Jost", sans-serif;
  font-family: "Lora", serif;
  font-family: "Martel Sans", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Seaweed Script", cursive;
  font-family: "Signika Negative", sans-serif;
  scroll-behavior: smooth;
}
.container {
  /* border: solid red; */
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  align-items: center;
}
.card {
  /* border: solid rgb(255, 255, 255); */
  background-color: rgba(5, 34, 32, 0.541);
  box-shadow: -5px 5px 15px black;
  border-radius: 80px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 280px));
  /* justify-content: center; */
  /* align-items: center; */
  width: 50%;
  gap: 1rem;
  padding: 2rem;
}
.div1 {
  /* border: solid green; */
  box-shadow: 5px 5px 15px rgb(17, 15, 15);
  background-color: rgba(5, 134, 126, 0.315);
  border-top-left-radius: 40px;
  border-top-right-radius: 50px;
  display: flex;
  justify-content: center;
  /* width: fit-content; */
  align-items: center;
  /* padding: 0.3rem; */
  flex-direction: column;
}
audio {
  width: 300px;
  height: 40px;
}
p,
h2 {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  letter-spacing: 1px;
}
.div1 img {
  width: 200px;
  height: 200px;
  /* border-top-right-radius: 50px; */
}
.div2 {
  /* border: solid yellow; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  border-radius: 50px;
  /* background-color: black; */
  box-shadow: 4px -5px 10px black;
  /* align-items: center; */
}
.music {
  /* border: solid red; */
  display: flex;
  justify-content: space-between;
  box-shadow: -5px -2px 15px black;
  align-items: center;
  padding: 0.8rem;
  flex-wrap: wrap;
  border-radius: 50px;
  gap: 5rem;
}
.music p {
  font-weight: bold;
  font-family: "Pacifico", cursive;
  font-family: "Lora", serif;
  letter-spacing: 2px;
}
@media(max-width:349px){
  .card {
    border-radius: 25px;
    padding:5rem;
    grid-template-rows: repeat(auto-fit, minmax(100px, 500px));
    justify-content: center;
    align-items: center;
    gap:3rem;
    width: 100%;
    grid-template-rows: repeat(auto-fit, minmax(50px, 100px));
  }
  .div1 {
    border-top-right-radius:50px;
    border-bottom-left-radius: 0px;
    border-top-left-radius:50px;
    height: 150px;
  }
  .div1 img {
    width: 100px;
    border-top-left-radius:50px;
    height: 100px;
    border-top-right-radius:50px;
  }
  h2 {
    font-size: 0.8rem;
  }
  audio {
    width: 150px;
    height: 25px;
  }
  p,
  h2 {
    background-color: transparent;
    font-family: "Mulish", sans-serif;
    letter-spacing: 1px;
  }
  .div2{
    border-radius: 0px;
  }
  .music {
    gap: 1rem;
    border-radius:0px;
  }
  .music p{
    font-size: 0.8rem;
  }
}
@media (min-width:350px) and (max-width: 600px) {
  .card {
    border-radius: 25px;
    padding:2rem;
    grid-template-rows: repeat(auto-fit, minmax(100px, 500px));
    justify-content: center;
    align-items: center;
    gap:3rem;
    width: 100%;
    grid-template-rows: repeat(auto-fit, minmax(50px, 100px));
  }
  .div1 {
    border-top-right-radius:50px;
    border-bottom-left-radius: 0px;
    border-top-left-radius:50px;
    height: 150px;
  }
  .div1 img {
    width: 100px;
    border-top-left-radius:50px;
    height: 100px;
    border-top-right-radius:50px;
  }
  h2 {
    font-size: 0.8rem;
  }
  audio {
    width: 200px;
    height: 25px;
  }
  p,
  h2 {
    background-color: transparent;
    font-family: "Mulish", sans-serif;
    letter-spacing: 1px;
  }
  .div2{
    border-radius: 0px;
  }
  .music {
    gap: 1rem;
    border-radius:0px;
  }
}
/* Media */
@media (min-width: 601px) and (max-width:899px) {
  .card {
    border-radius: 25px;
    padding:5rem;
    grid-template-rows: repeat(auto-fit, minmax(100px,1fr));
    justify-content: center;
    align-items: center;
    gap:5rem;
    width: 100%;
    grid-template-rows: repeat(auto-fit, minmax(50px, 100px));
  }
  .div1 {
    border-top-right-radius:50px;
    border-bottom-left-radius: 0px;
    border-top-left-radius:50px;
    /* margin-top: 2rem; */
    /* height: 150px; */
  }
  .div1 img {
    width: 150px;
    border-top-left-radius:50px;
    height: 150px;
    border-top-right-radius:50px;
  }
  h2 {
    font-size: 0.8rem;
  }
  audio {
    width: 200px;
    height: 25px;
  }
  p,
  h2 {
    background-color: transparent;
    font-family: "Mulish", sans-serif;
    letter-spacing: 1px;
  }
  .div2{
    border-radius: 0px;
  }
  .music {
    gap: 1rem;
    border-radius:0px;
  }
}
