@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bubblegum+Sans&family=Cedarville+Cursive&family=Josefin+Sans:wght@300;400&family=Jost:wght@500&family=Lora:wght@500&family=Martel+Sans:wght@600&family=Mulish&family=Pacifico&family=Playfair+Display:wght@500&family=Poppins:wght@300&family=Raleway&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&family=Rubik&family=Seaweed+Script&family=Signika+Negative&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: white;
}
body {
  width: 100vw;
  height: 100vh;
  /* background-color: transparent; */
  font-family: "Abel", sans-serif;
  font-family: "Bubblegum Sans", sans-serif;
  font-family: "Cedarville Cursive", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Jost", sans-serif;
  font-family: "Lora", serif;
  font-family: "Martel Sans", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Seaweed Script", cursive;
  font-family: "Signika Negative", sans-serif;
  scroll-behavior: smooth;
  background: linear-gradient(rgba(219, 208, 208, 0.726),rgb(2, 17, 26));
}
.container{
    border: solid red;
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(250px,500px));
    /* justify-content: center; */
    /* align-items: center; */
    gap: 1rem;
}
.card1{
    border: solid blue;
    display: flex;
    flex-wrap: wrap;
    /* width: fit-content  ; */
    /* justify-content: center;
    align-items: center; */
    padding: 0.2rem;
}
.card2{
    border: solid green;
}
.div1{
    border: solid yellow;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background: linear-gradient(rgb(129, 126, 126),rgb(2, 11, 15));
    align-items: center;
    padding: 0.8rem;
    /* flex-direction: column; */
}
article{
  line-height:30px;
    
}
h2{
  font-family: "Rubik", sans-serif;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-size:6rem;
}
.div2{
    border: solid black;
  /* background: linear-gradient(white,black); */

}