@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bubblegum+Sans&family=Cedarville+Cursive&family=Josefin+Sans:wght@300;400&family=Jost:wght@500&family=Lora:wght@500&family=Martel+Sans:wght@600&family=Mulish&family=Pacifico&family=Playfair+Display:wght@500&family=Poppins:wght@300&family=Raleway&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&family=Rubik&family=Seaweed+Script&family=Signika+Negative&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: white;
}
body {
  width: 100vw;
  height: 100vh;
  /* background-color: transparent; */
  font-family: "Abel", sans-serif;
  font-family: "Bubblegum Sans", sans-serif;
  font-family: "Cedarville Cursive", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Jost", sans-serif;
  font-family: "Lora", serif;
  font-family: "Martel Sans", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Seaweed Script", cursive;
  font-family: "Signika Negative", sans-serif;
  scroll-behavior: smooth;
  background: linear-gradient(rgb(0, 0, 0),rgb(0, 17, 27));
}
.container{
    /* border: solid red; */
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(250px,700px));
    gap:1rem;
}
.card1{
    /* border: solid blue; */
    display: flex;
    flex-wrap: wrap;
    box-shadow: -2px 5px 5px rgb(2, 68, 80);
    justify-content: center;
    /* align-items: center; */
}

.div1{
    /* border: solid yellow; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
    justify-content: center;
    background: linear-gradient(rgb(56, 53, 53),rgb(0, 0, 0));
    align-items: center;
    padding: 0.8rem;
    box-shadow: -2px 5px 5px black;
    color: white;
}
.div1 img{
    width: 300px;
    border-radius:25px;
    height:300px;
}
article{
  line-height:30px;
  font-family: "Josefin Sans", sans-serif;
}
h2{
  font-family: "Rubik", sans-serif;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-size:6rem;
}
.div1 p{
    color: grey;
    font-size: 0.8rem;
}
p{
    font-weight: bold;
}
/* Card 2 */
.div2{
    /* border: solid black; */
    background: linear-gradient(rgba(15, 11, 11, 0.637),rgb(0, 19, 22));
    padding:1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,800px));
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
}
.music{
    /* border: solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0.8rem;
    border-radius:50px;
    box-shadow: 5px 2px 5px black;
    align-items: center;
    gap:1rem;
}
audio{
    width: 400px;
    height: 40px;
}
.div2 p{
    font-size: 1.2rem;
  font-family: "Raleway", sans-serif;   
}
/* Media */
@media(max-width:350px){
    .container{
    gap:6rem;
    }
    .div1 img{
        width: 150px;
        height: 150px;
    }
    .div1 h2
    {
        font-size: 1.2rem;
    }
    audio{
        width: 250px;
        height:30px;
    }
    .music{
        border-radius: 0px;
    }
}
/* Media */
@media(min-width:351px) and (max-width:600px){
    .container{
    gap:3rem;
    }
    audio{
        width: 250px;
        height:30px;
    }
    .music{
        border-radius: 0px;
    }
}