@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bubblegum+Sans&family=Cedarville+Cursive&family=Josefin+Sans:wght@300;400&family=Jost:wght@500&family=Lora:wght@500&family=Martel+Sans:wght@600&family=Mulish&family=Pacifico&family=Playfair+Display:wght@500&family=Poppins:wght@300&family=Raleway&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&family=Rubik&family=Seaweed+Script&family=Signika+Negative&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}
button{
  cursor: pointer;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: "Abel", sans-serif;
  font-family: "Bubblegum Sans", sans-serif;
  font-family: "Cedarville Cursive", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Jost", sans-serif;
  font-family: "Lora", serif;
  font-family: "Martel Sans", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Seaweed Script", cursive;
  font-family: "Signika Negative", sans-serif;
  scroll-behavior: smooth;
}
.container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: start;
  padding: 0.3rem;
  gap: 0.5rem;
  align-items: center;
}
.grid1 {
  background-color: rgba(128, 128, 128, 0.13);
  border-radius: 10px;
  display: grid;
  padding: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(100px,500px));
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.icon,
.para {
  /* border: solid red; */
  padding: 0.2rem;
  font-size: 1.3rem;
}
.para p {
  font-size: 1rem;
}
.home,
.search {
  cursor: pointer;
  /* border: solid black; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.7rem;
  padding: 0.4rem;
}
.home,
.search:hover {
  text-decoration: underline;
}
.search p {
  color: rgba(255, 255, 255, 0.568);
}
/* Grid  2 */
.grid2 {
  background-color: rgba(128, 128, 128, 0.13);
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(10px, 40px));
  /* justify-content: center; */
  /* align-items: center; */
  gap: 0.2rem;
  padding-bottom: 8rem;
}
.box1 {
  display: flex;
  /* border: solid red; */
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  padding: 0.2rem;
}
.libary {
  /* border: solid green; */
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}
.libary p,
i {
  color: rgba(255, 255, 255, 0.507);
  transition: all 0.3s;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1rem;
}
.libary p:hover,
i:hover {
  color: white;
}
.box2 {
  /* border: solid red; */
  padding: 0.5rem;
}
.box2 button {
  background-color: rgba(255, 255, 255, 0.082);
  padding: 0.5rem 1rem;
  border: transparent;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.13);
}
/* Box 3 */
.box3 {
  /* border: solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
}
.recent {
  /* border: solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0.3rem;
}
.para {
  font-size: 1rem;
  cursor: pointer;
  color: grey;
}
.para:hover {
  color: white;
}
/* Box4 */
.box4 {
  /* border: solid red; */
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(50px, 100px));
  /* justify-content: center; */
  gap: 0.1rem;
  cursor: pointer;
  align-items: center;
}
.artist {
  /* border: solid blue; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 0.2rem;
  padding: 0.2rem;
  width: 100%;
  transition: all 0.3s;
}
.artist:hover {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.062);
}
.text {
  /* border: solid green; */
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.text p {
  color: grey;
  font-family: "Mulish", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.text h5 {
  letter-spacing: 1px;
  font-family: "Josefin Sans", sans-serif;
}
.artist img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
/* Grid 3 */
.grid3 {
  background:linear-gradient(rgba(83, 77, 77, 0.541), rgba(43, 40, 40, 0.151));
  grid-row: 1/3;
  grid-column: 2/3;
  height: 100%;
  width: 80vw;
  border: solid red;
  border-radius: 20px;
  /* padding:0.5rem; */
}
.navigation{
  /* border: solid red; */
  transition: all 10s;
  padding: 0.5rem;
}
.navigation:hover{
  background:linear-gradient(rgba(102, 9, 9, 0.493),rgba(0, 0, 0, 0.068));
}
.div1 {
  /* border: solid red; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding:0.2rem;
}
.nav1 i {
  font-size: 1rem;
  padding: 0.5rem;
  color: white;
}
.nav1 button {
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.473);
  border: transparent;
}
.nav2{
  /* border: solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
}
.nav2 i {
  font-size: 1rem;
  color: white;
}
.nav2 .button{
    padding: 0.7rem 1.2rem;
    border-radius:20px;
    font-weight: bold;
    background-color: white;
    color: black;
    border: transparent;
}
.but{
  border: solid blue;
}
.nav2 button{
  background-color: rgba(0, 0, 0, 0.562);
  padding: 0.6rem 1.2rem;
  border-radius:20px;
  border: transparent;
}
