.animate{
    animation-name: updown ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }
  @keyframes updown {
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(100px);
  
    }
  }
  